body {
  background-color: black;
}

img {
  width: 200px;
}

.create-form {
  width: 300px;
}

.create-form {
  width: 400px;
  margin: 200px auto;
  border: 1px solid #eee;
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
  height: 350px;
}

.character-container,
.submit-form {
  padding-top: 20px;
  text-align: center;
}

.image-container {
  height: 204px;
}
