body {
  background-color: #614343;
}

img {
  width: 200px;
}

.play-board {
  width: 350px;
  margin: 200px auto;
  border: 1px solid #727272;
  padding: 20px;
  background-color: #5d908a;
  border-radius: 185px 185px 0 0;
  height: 350px;
  transition: 2s;
}

.character-container,
.submit-form {
  padding-top: 20px;
  text-align: center;
}

.image-container {
  height: 204px;
}
